<%- include('../partials/header') %>

    <% if (user) { %>
    <div class="container" style="padding: 2rem;text-align-last:left;background-color: rgb(255, 255, 255);">
        <br><h5>Current Event Information</h5><br>
            <form action="/events/<%= event.id %>?_method=PUT" method="POST" autocomplete="off">
                <label style="padding-bottom: 0.5rem">Update the event's name:
                    <input type="text" name="name" value="<%= event.name %>">
                </label><br>
                <label style="padding-bottom: 1rem">Update description :
                    <input type="text" name="description" value="<%= event.description %>">
                </label><br>
                <label style="padding-bottom: 1rem">Update the date:
                    <input type="datetime-local" name="eventDate" value="<%= event.eventDate %>">
                </label><br>
                <label style="padding-bottom: 1rem">Update the Location:
                    <input type="text" name="location" value="<%= event.location %>">
                </label><br>
                <label style="padding-bottom: 1rem">Update the number of guests:
                    <input type="text" name="participans" value="<%= event.participans %>">
                </label><br>
                <label style="padding-bottom: 1rem">Update the food you need for your event:
                    <input type="text" name="itemsNeeded" value="<%= event.itemsNeeded %>">
                </label><br><br>
                <button type="submit" class="btn btn-outline-primary">Update Event</button>
            </form>
    </div>
    <% } else { %>
        <a class="btn btn-outline-primary" href="/auth/google">Update Event</a>
    <% } %>

<%- include('../partials/footer') %>
