<%- include('../partials/header.ejs') %>

<div class="container" style="padding: 2rem;text-align-last:left;background-color: rgb(255, 255, 255);">
    <h2 style="padding-bottom: 1rem"><%= event.name %></h2>
    <h3 class="user-img" style="padding-bottom: 1rem">Organize by:<img alt="avatar" src="<%= event.userAvatar %>" referrerpolicy="no-referrer"><%= event.userName %></h3>
    <h3 style="padding-bottom: 1rem">Description: <%= event.description %></h3>
    <h3 style="padding-bottom: 1rem">Date: <%= event.eventDate %></h3>
    <h3 style="padding-bottom: 1rem">Location: <%= event.location %></h3>
    <h3 style="padding-bottom: 1rem">Number of guests: <%= event.participans %></h3>
    <h3 style="padding-bottom: 1rem">Meal needed: <%= event.itemsNeeded %></h3>
    <a href="/events/<%= event.id %>/edit">Update Event Details</a>
</div>
<div class="container" style="padding: 2rem;text-align-last:left;background-color: rgb(255, 255, 255);"> 
  <div id="donationTable">
    <h3>Donations:</h3>
      <% if (event.donation.length) { %>
        <table class="table">
          <thead>
            <tr>
                <th scope="col">Donor</th>
                <th scope="col">Food Donated</th>
                <!-- <th scope="col"></th> -->
            </tr>
          </thead>
          <tbody>
            <% event.donation.forEach(function(donation) { %>
              <tr>
                  <td scope="row"><%= donation.userName %></td>
                  <td scope="row"><%= donation.itemsDonated %></td>
                  <!-- <td><form action="/donations/<%= donation.id %>?_method=DELETE" method="POST"><button type="submit" class="btn btn-outline-info">Delete</button></form></td> -->
              </tr>
            <% }); %>
          </tbody>
          </table>
            <% } else { %>
              <h5>No Donations Yet</h5>
            <% } %>
          <a href="/events/<%= event._id %>/donations/new">Add Donation</a>
  </div>
</div>

<div class="container" style="padding: 2rem;text-align-last:left;background-color: rgb(255, 255, 255);"> 
  <div id="volunteerTable">
    <h3>Volunteer:</h3>
  <% if (event.volunteer.length) { %>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Volunteer</th>
                <th scope="col">Message</th>
               
            </tr>
        </thead>
        <tbody>
            <% event.volunteer.forEach(function(volunteer) { %>
              <tr>
                  <td scope="row"><%= volunteer.userName %></td>
                  <td scope="row"><%= volunteer.message %></td>  
              </tr>
            <% }); %>
        </tbody>
    </table>
    <% } else { %>
    <h5>No volunteers Yet</h5>
    <% } %>
    <a href="/events/<%= event._id %>/volunteer/new">Become a Volunteer</a>
</div>


<%- include('../partials/footer.ejs') %>